APP_ENV=local
GUILD_ADDR=:8086
GUILD_STORE=memory
GUILD_AUTO_MIGRATE=false
INVITE_SERVICE_URL=http://localhost:8083
PRESENCE_BASE_URL=http://localhost:8087
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_DATABASE=social_backend
