APP_ENV=local
OPS_ADDR=:8088
PRESENCE_BASE_URL=http://localhost:8087
PARTY_BASE_URL=http://localhost:8085
GUILD_BASE_URL=http://localhost:8086
WORKER_BASE_URL=http://localhost:8089
SOCIAL_BASE_URL=http://localhost:8082
